html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1250px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1); */
}

.site-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 0;
}

.nav-list{
  display: flex;
  align-items: center;
}

.list-item {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: #242A45;
  font-size: 14px;
  text-transform: uppercase;
  padding: 12px 34px;
}

.nav-link:hover {
  color: #FA5959;
}

.login-link {
  padding: 12px 34px;
  background-color: #FA5959;
  border: 3px solid transparent;
  color: #fff;
  border-radius: 5px;
}

.login-link:hover{
  background-color: #fff;
  border: 3px solid #FA5959;
  color: #FA5959;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
}

      /* MAIN */

.main-top-section {
  width: 540px;
  padding: 50px 0;
}

.main-top-section-title {
  color: #242A45;
  font-size: 48px;
  margin: 0;
  padding: 0;
}

.main-top {
  padding: 100px 0;
  background-image: url("../img/intro-bg.png");
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: bottom  right -500px;
}

.main-top-section-text{
  color: #242A45;
  font-size: 18px;
  opacity: 0.5;
  line-height: 1.5;
}

.universial-button{
  text-decoration: none;
  color: #fff;
  background-color: #5267DF;
  padding: 15px 25px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: baseline;
  border: 2px solid transparent;
}

.universial-button:hover {
  background-color: transparent;
  color: #5267DF;
  border: 2px solid #5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);

}

.main-top-section-button{
  margin-left: 10px;
  text-decoration: none;
  color: #242A45;
  background-color: #F7F7F7;
  padding: 15px 25px;
  display: inline-block;
  vertical-align: baseline;
  border: 2px solid transparent;
  border-radius: 5px;
}

.main-top-section-button:hover{
  background-color: transparent;
  color: #242A45;
  border: 2px solid #242A45;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);

}







@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}